# Author
# Muhammad Bilal Yousaf

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
* Python
* R
* SQL
* Java
* JavaScript

# Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java

| Data Science Tools |
|--------------------|
|SAS|
|Apache Spark|
|BigML|

# Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
a = 200
b = a / 60
print("The 200 minutes in hours are: ", b)

The 200 minutes in hours are:  3.3333333333333335